@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
    .sectoin-team {
       padding-bottom: 120px;
       padding-top: 120px;
    } 
    .list-photo {
       display: flex; 
       flex-wrap: nowrap;
    }  
    
    .text-elements {
        font-weight: 400;
        color: #434455;
        margin-bottom: 72px;
}
.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 32px;
}

.contact-form-input {
    min-width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 4px;
    padding-left: 8px;
    outline: none;
}

   .team-social-list {
       display: flex;
   }

.contact-form-btn {
    background: #4D5AE5;
    border-color: #4D5AE5;
    border-radius: 4px;
    max-width: 165px;
    max-height: 40px;
    padding: 8px 24px;
    gap: 16px;
    margin-left: 24px;
    margin-top: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form {
    display: flex;
    flex-direction: inherit;
}

    .list-two {
    display: flex;
    gap: 24px;
    }

       .hidden-section-title {
    position: relative;
    visibility: visible;
   }

   .section-three {
        position: relative;
            visibility: visible;
   }
   

    .section-text{
    padding: 120px 0;
    }

        .paragraph-elements {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        margin-bottom: 8px;
    }

    .hidden-section-title {
     display: flex;
    justify-content: center;
    align-items: center;
    }

    .contact-iteam-class {
    margin-left: 80px;
    margin-top: 0;
    }

    .images-team{
        width: calc((100% - 72px) / 4 );
    }

        .social-foter-list {
            display: flex;
            justify-content: center;
            gap: 16px;
        }

        .footer-content {
        font-weight: 400;
        color: #E7E9FC;
        width: 264px;
        margin-left: 0px;
   }

   .title-text-footer {
     font-family: 'Roboto';
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #FFFFFF;
     margin-bottom: 16px;
     margin-left: 0px;
}

.footer-social {
       width: 100%;
       display: flex;
       flex-direction: unset;
       flex-wrap: nowrap;
}

.social-media-title {
    margin-left: 120px;
    margin-top: 0px;
}

.section-list-element {
        display: flex;
        justify-content: center;
        padding: 0px;
        gap: 24px;
}

.address-list {
    display: flex;
    gap: 40px;
}

.menu {
    display: flex;
    gap: 40px;
}

.section-link-element {
    width: 168px;
    height: 88px;
}

.contact-form {
    display: flex;
}

.contact-form-input {
    min-width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 4px;
    padding-left: 8px;
    outline: none;
}

.list-items {
    width: calc((100% - 72px) / 4);
}

.list-two {
    display: flex;
}

.social-foter-list {
    display: flex;
    /* justify-content: center; */
    gap: 16px;
    margin-left: 0px;
}

    .footer-logotype {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    margin-bottom: 16px;
    margin-left: 0;
    }

    .contact-title {
       font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
        display: block;
    }

    @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
    .hero-section{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
           url(../images/Dark-bg-des-2x.jpg);
    }
    
}
}





