@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }

    .list-photo {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero-section {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url(../images/Dark-bg-mob-2x.jpg);
            }
        }
      }
      
          .section-list-element {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              padding: 0px;
              gap: 24px;
          }
    
          .section-link-element {
              width: calc((100% - 24px) / 2);
              height: 88px;
    
          }

          .team-social-last {
            display: flex;
            justify-content: center;
            gap: 56px;
            padding-bottom: 32px;
            padding-top: 48px;
          }

          .team-social-list {
             display: flex;
            justify-content: center;
            gap: 16px;
            padding-bottom: 32px;
          }

          .contact-form-input {
        min-width: 398px;
        height: 40px;
        background-color: transparent;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        border-radius: 4px;
        padding-left: 8px;
        outline: none;
        opacity: 0.3;
         }
          
       .menu {
       /* display: flex; */
       gap: 40px;
       /* margin-left: 30px; */
   }

   body {
    font-weight: 700;
    font-size: 36px;
   }

   .adress{
    font-weight: 500;
    font-size: 20px;
   }

   .menu-item {
       margin-bottom: 40px;
   }

   .header-nav-wrap {
       background-color: #FFFFFF;
       width: 100%;
       height: 100vh;
       position: absolute;
       top: 0;
       right: 0;
       padding: 24px 24px 24px 40px;
   }

   .header-btn-mobile-close {
       display: block;
       width: 24px;
       height: 24px;
       margin-left: auto;
   }
}

@media screen and (min-width:480px) and (max-width: 767px) {
    .container-sm {
        max-width: 264px;
    }
}


     .list-iteam {
        width: 100%;
     }

        .social-media-title {
        margin-top: 72px;
}