@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }

    .list-photo {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
}

}

@media screen and (min-width:480px),(max-width: 767px) {
    .container-sm {
        max-width: 264px;
    }
}